@(articleForm: Form[Article])

@import helper._

@main(title = "Edit Article") {

    <h1>Edit Article</h1>

    @form(action = routes.Application.articleSubmit, args = 'id -> "articleform") {

        <input type='hidden' name='id' value='@articleForm.data.get("id")' />

        @inputText(
            field = articleForm("title"),
            args = '_label -> "Title", 'placeholder -> "Enter title"
        )

        @inputText(
            field = articleForm("description"),
            args = '_label -> "Description", 'placeholder -> "Enter description"
        )

        <p class="buttons">
            <input type="submit" id="submit">
        <p>

    }

}
